/* font family

Überschriften usw
font-family: Lora, sans-serif;   

restliche Text
font-family: Work, sans-serif;   

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    max-width: 1400px;
    scroll-behavior: smooth;
}


/* ******************* font family ***************** */

@font-face {
    font-family: Lora;
    src: url("../fonts/Lora/Lora-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: Work;
    src: url("../fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf");
}

/* ******************** body *********************** */
/* ******************** body *********************** */
/* ******************** body *********************** */

body {
    font-family: Work, sans-serif;
    /* * für alle Schriften */
    background-color: #2e2e2e;
}

.schriftart--lora {
    font-family: Lora, sans-serif;

}


/* ******************** header ********************* */
/* ******************** header ********************* */
/* ******************** header ********************* */


/* ******************** header bild **************** */
.header__bild {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    /* * da Nav ja noch mit auf ersten Seite zu sehen sein soll */
    margin-bottom: 0vh;
}

.header__bild>article {
    background-color: #fff;
    width: 40vw;
    /* * da Bild ja 60 vw der Seite hat */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header__bild>article>p:nth-of-type(1) {
    font-size: 5rem;
    letter-spacing: 2rem;
    width: 100%;
    text-align: center;
    margin-top: 10rem;
    /* * damit Überschrift runter kommt */
}

.header__bild>article>p:nth-of-type(2) {
    letter-spacing: 0.2rem;
    margin-top: -20rem;
    /* * damit Text hoch kommt */
    width: 100%;
    text-align: center;
}

.header__bild>article>p:nth-of-type(2)::before {
    content: " ~ "
        /* * die Welle geht auch mit Command + n  */
}


.header__bild>img {
    width: 60vw;
}


/* ********************** Sticky nav *************** */


.header--fixed {
    position: sticky;
    /* !!! Sticky section darf nicht im header sein
                                    !!! sonst geht es nicht  */
    top: 0px;
    /* * Sticky abstand der dann beim scrollen sein soll  */
    background-color: #2e2e2ed7;

}

.header__leisteMitNav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    width: 100vw;
    /* *  zusatzliche 100 wegen fixed  */
}

.header__leisteMitNav>img {
    height: 90%;
    /* * damit Bild kleiner wird */
    padding-left: 1vw;
    /* * damit Bild vom Rand links weg ist */
}

.header__leisteMitNav>nav {
    display: flex;
    width: 70vw;
    /* * damit text links über Bild Kante geht */
    justify-content: space-around;
}

.header__leisteMitNav>nav>a {
    text-decoration: none;
    color: #fff;
}


/* ********************* main *********************** */
/* ********************* main *********************** */
/* ********************* main *********************** */


/* ********************* main Story mit Bild ******** */

.main__storyMitBild {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.main__storyMitBild>article {
    width: 40vw;
    order: 1;
    padding: 0 2vw;
}

.main__storyMitBild>article>p:nth-of-type(1) {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    padding-bottom: 1rem;


}

.main__storyMitBild>article>p:nth-of-type(2) {
    color: #fff;
    word-spacing: 0.5rem;

}



.main__storyMitBild>img {


    order: 0;
    width: 60vw;
}


/* **************************** Bereicht mit weißem Hintergrund *********** */

.section__hintergrund--weiß {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /* * dreht alles um 90 Grad */
    align-items: center;
}

.textBereichÜberBilder__articel {
    width: 45vw;
    margin-top: 25vh;
    margin-bottom: 14vh;
}

.textBereichÜberBilder__articel>p:nth-of-type(1) {
    text-align: center;
    font-size: 2rem;
}

.textBereichÜberBilder__articel>p:nth-of-type(2) {
    word-spacing: 0.5rem;
}


.dreiBilderReihen__Sechtion--style {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.dreiBilderReihen__Sechtion--style>article {
    width: 25vw;

}

.dreiBilderReihen__Sechtion--style>article>p {
    text-align: center;
    width: 23vw;
    margin: auto;
}

.dreiBilderReihen__Sechtion--style>article>img {
    width: 25vw;
    border-radius: 0.5rem;
}

.video__articel--style {
    width: 25vw;
    height: 30vh;
    margin-top: 14vh;
    margin-bottom: 25vh;
}

.video__articel--style>iframe {
    width: 25vw;
    /* * Video eingepasst schneidet unten was weg */
    height: 30vh;
    border-radius: 0.5rem;

}

/* ******************* footer ******************* */
/* ******************* footer ******************* */
/* ******************* footer ******************* */


/* ***************** footer text und kontakt input *************** */

.section__textUndInput--style {
     display: flex;
    justify-content: space-around;
    margin: 25vh auto;

    color: #fff;
}

/* *************** footer text ************ */


.articel__footer__text{
    width: 32vw;
}

.articel__footer__text>p:nth-of-type(1){
    font-size: 2rem;
}

.articel__footer__text>p:nth-of-type(2){
    margin: 3vh 0;
}

.articel__footer__text>p:nth-of-type(3){
    line-height: 1.5;
}

/* *************** footer input Felder ********** */

.articel__footer__input{
    width: 32vw;
}

.articel__footer__input>label{
    font-size: 0.8rem;
}

.articel__footer__input>input:nth-of-type(1){ 
    width: 20vw;
    font-size: 0.8rem;
    color: gray;
}

.articel__footer__input>input:nth-of-type(2){
    width: 20vw;
    font-size: 0.8rem;
    color: gray;
}

.articel__footer__input>input:nth-of-type(3){
    width: 20vw;
    font-size: 1rem;
    color: gray;
    height: 5vh;
}

.articel__footer__input>input:nth-of-type(4){
    font-size: 0.8rem;
    padding: 0.4rem;

}

/* ********************** footer nav ****************** */

.article__footer__nav--style{
    background-color: #1d2c30;
    color: #fff;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
}

.article__footer__nav--style>p:nth-of-type(1){
    background-color: blue;
    width: 30vw;
}

.article__footer__nav--style>p:nth-of-type(2){
    background-color: green;
    width: 30vw;
}

.article__footer__nav--style>nav{
    background-color: red;
    width: 30vw;
    text-align: center;
}

.article__footer__nav--style>nav>a{
    text-decoration: none;
    margin: auto 2vw;
}