/* font family
font-family: Lora, sans-serif;   


*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    max-width: 1400px;
    scroll-behavior: smooth;
}


/* ******************* font family ***************** */

@font-face {
    font-family: Lora ;
    src: url("../fonts/Lora/Lora-Italic-VariableFont_wght.ttf");
}




/* ******************** header ********************* */

