/* font family

Überschriften usw
font-family: Lora, sans-serif;   

restliche Text
font-family: Work, sans-serif;   

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    max-width: 1400px;
    scroll-behavior: smooth;
}


/* ******************* font family ***************** */

@font-face {
    font-family: Lora ;
    src: url("../fonts/Lora/Lora-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: Work;
    src: url("../fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf");
}

/* ******************** body *********************** */
/* ******************** body *********************** */
/* ******************** body *********************** */

body{
    font-family: Work, sans-serif;   /* * für alle Schriften */
    background-color: #2e2e2e;
}

.schriftart--lora{
    font-family: Lora, sans-serif;   

}


/* ******************** header ********************* */

